:root{
    --bg-color: #1a1a1a;
    --text-color: #e0e0e0;
}

body{
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
}

body.light{
    background-color: #ffffff;
    color: #333333;
    --bg-color: #1a1a1a;
    --text-color: #e0e0e0;
}

body.dark{
    background-color: #1a1a1a;
    color: #e0e0e0;
    --bg-color: #ffffff;
    --text-color: #333333;
}

.nav-panel{
    display: flex;
    justify-content: center;
    margin: 50px 500px 50px 500px;
    border-color: white;
    border-radius: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: 40px;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 800px;
}

.nav-panel.lightPanel{
    background-color: #ffffff;
    color: #333333;
}

.nav-panel.darkPanel{
    background-color: rgb(48, 46, 46);
    color: #e0e0e0;
}

.nav-panel a{
    color: inherit;
}

.nav-panel button{
    color: inherit;
}

svg{
    fill: currentColor;
}

.nav-icons{
    display: flex;
    align-items: center;
    gap: 40px;
}

.separator{
    display: inline-block;
    border-right: 1px solid gray;
    height: 80%;
}

.icon-images{
    width: 20px;
    height: 45px;
}

#bg-change{
  border: none;          /* Removes the border */
  background: none;      /* Removes the default background */
  cursor: pointer;
}

#bg-change:focus{
    outline: none;
}

.nav-icons-div{
    position: relative;
    display: inline-block;
}

.nav-icons-div .tooltip-text{
    visibility: hidden;
    width: 100px;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.nav-icons-div:hover .tooltip-text{
    visibility: visible;
}

.nav-icons-div .tooltip-text::after{
    content: "";
    position:absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--bg-color) transparent;
}

.Introduction{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Introduction .Intro{
    font-family: 'Bricolage Grotesque', sans-serif;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    box-sizing: border-box;
    width: 50rem;
    display: inline-block;
    margin-bottom: 10px;
}

.Introduction .description{
    margin-top: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: center;
    box-sizing: border-box;
    width: 60rem;
    display: inline-block;
}